.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: transform 0.3s; /* Smooth scale on hover */
}

.user:hover {
  transform: scale(1.02);
}

.avatar {
  margin-bottom: 8px; /* Add spacing below the avatar */
}

.title {
  margin: 8px 0;
  font-size: 18px;
  color: #333333;
}

.userInfo {
  color: #666666;
  line-height: 1.5;
  width: 100%;
}

.infoItem {
  margin: 4px 0;
}

@media (min-width: 400px) {
  .title {
    font-size: 20px;
  }

  .userInfo {
    font-size: 15px;
  }
}
