.userList {
  display: flex;
  gap: 24px 32px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.userItem {
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: #cee6ea;
  border-radius: 16px;
  width: 310px;
}

.userItem:hover {
  background-color: #b4e7f1;
}
