.searchBoxContainer {
  border-radius: 16px;
  background-color: #d9ebee;
  padding: 24px;
  margin-bottom: 24px;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.searchBoxInput {
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  height: 31px;
  padding-left: 10px;
  width: 100%;
}
